:root {
  --ff-primary: 'DM Sans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-h1: 3em;
  --fs-h2: 2em;
  --fs-h3: 1.5em;
  --fs-body: 1em;
  --fs-core: 18px;

  --box-padding: 1.25em;
  --margin-btm: 1em;

  --modal-margin-small: -.75em;
  --modal-margin-large: ;


  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-cream);
  font-family: var(--ff-primary);
  font-size: var(--fs-core);
}

main {
  /* padding: 1em; */
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  max-height: 650px;
  max-width: 550px;
  min-width: 360px;
  border: 1px solid red;
}


/*  
############
Head
############
*/

.head {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  background-color: var(--clr-soft-red);
  padding: var(--box-padding);
  border-radius: 10px;
  margin-bottom: var(--margin-btm)
}

.current-balance {
  color: var(--clr-pale-orange);
}

.current-balance .balance {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}


/*  
############
Graph
############
*/

.graph-container {
  background-color: var(--clr-pale-orange);
  padding: var(--box-padding);
  border-radius: var(--margin-btm);
}

.graph-container h1 {
  font-size: var(--fs-h3);
  transition: all ease-in-out 600ms;
}

.graph {
  display: flex;
  justify-content: space-between;
  padding: 0;
  min-height: 300px;
  padding-bottom: var(--box-padding);
  margin-bottom: var(--margin-btm);
  border-bottom: 2px solid var(--clr-cream);
}

.graph li {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  list-style: none;
  width: 100%;
  margin: 0 4px;
}

.graph-bar {
  /* width: 2em;
  min-height: 3em; */
  grid-row-start: -1;
  background-color: var(--clr-soft-red);
  border-radius: 5px;
  transition: all ease-in-out 600ms;
}

@media (min-width: 480px) {
  .graph-container h1 {
    font-size: var(--fs-h2);
  }
  /* .graph-bar {
    width: 2.75em;
  } */
}

.graph-bar:focus,
.graph-bar:hover {
  background-color: var(--clr-cyan);
}

.graph-bar.active {
  background-color: var(--clr-cyan);
}

.day {
  grid-row-start: -1;
  order: 1;
  text-align: center;
}

/*  
############
Spent modal
############
*/

.spent-modal {
  border: 1px solid blue;
  font-size: .75em;
  order: -2;
}

/*  
############
Month section
############
*/

.month-container {
  display: flex;
  justify-content: space-between;
  min-height: 3.5em;
}

.month-container .month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.month-total {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.percent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.percent-change {
  font-weight: var(--fw-bold);
}

/*  
############
Footer
############
*/

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
